.tomarFotoBtn {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    padding: 5px;
    margin-top: 8px;
    height: 43px; /* Aumentado para mejor usabilidad */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex; /* Faltaba esta propiedad */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Añade esto para el icono */
.tomarFotoBtn svg {
    width: 24px;
    height: 24px;
    
}

.tomarFotoBtn:hover{
    transform: scale(1.1);
}