.tomarFotoBtn {
    background-color: white;
    border: 2px solid black; /* Color del borde */
    color: black;
    cursor: pointer;
    padding: 2px;  
    height: 10px; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Borde redondeado */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tomarFotoBtn:hover {
    transform: scale(1.1);
    background-color: #f1f1f1; 
}
