#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.imageProcess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  margin-top: 650px;
  gap: 10px; 
}



