#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

}

.imageProcess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
  margin-top: 650px;
  gap: 10px; 
}
.hover {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  font-size: 20px;
  background-color: #691B34;
  border: 2px solid  #691B34 !important; 
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); 
  align-items: center; 
  flex: auto;
  padding: 30px;

}

header {
  background-color: #991B48; /* Color vino oscuro */
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.header-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.text {
  position: absolute;
  bottom: 5px;
  font-size: 16px;
  text-align: center;

}

a {
  text-decoration: none; /* Elimina subrayado del enlace */
  color: #691B34; /* Puedes ajustar el color del enlace */
}

a:hover .text {
  color: rgb(117, 4, 4); /* Cambia el color al pasar el ratón */
}

.popup {
  position: absolute; /* Se coloca dentro del div .imageProcess */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.popup-content h2 {
  font-size: 24px;
}

.popup-content p {
  font-size: 18px;
  margin: 20px 0;
}

.close-btn {
  padding: 10px 20px;
  background-color: #691B34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #991B48;
}

.popup {
  position: absolute; /* Se coloca dentro del div .imageProcess */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  width: 80%;
  max-width: 600px;

  overflow: hidden; /* Evita que el contenido se salga del contenedor */
}

.popup-content {
  background-color: white;
  padding: 20px;
  text-align: center;
  max-height: 400px; /* Limita la altura máxima del contenido */
  overflow-y: auto; /* Agrega el scroll vertical si el contenido excede el tamaño máximo */
  width: 100%;
}

.popup-content h2 {
  font-size: 24px;
}

.popup-content p {
  font-size: 18px;
  margin: 20px 0;
}

.close-btn {
  padding: 10px 20px;
  background-color: #691B34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: #991B48;
}


